# Flask and Web Server
Flask==2.2.2
Werkzeug==2.2.2
Flask-Cors==3.0.10

# SocketIO and Eventlet for async communication
Flask-SocketIO==5.3.6
python-engineio==4.8.0
python-socketio==5.10.0
simple-websocket==0.10.0
eventlet==0.33.3

# MAVLink Communication
pymavlink==2.4.39